.bienes-layout {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
  grid-template-areas:
    "header header h-second h-third h-fourth h-fifth"
    "first second fields fields fourth fifth"
    "first second fields fields fourth fifth";

  /* background-color: chocolate; */
  background-color: #88ff80;
}

.b-header {
  grid-area: header;
  /* background-color: green; */
}

.b-menu {
  grid-area: second;
  /* background-color: black; */
}

.b-fields {
  grid-area: fields;
  /* background-color: yellow; */
}

.b-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title-left-padd {
  padding-left: 12px;
}

.b-menu {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: 24px;
}

.bm-st,
.bm-nd,
.bm-third {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.b-fields {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: 24px;
  width: 50%;
}

.p-cont {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  padding-top: 24px;
  padding-bottom: 12px;
}

.pc-fields {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: flex-start; */
}

.flex-row-fields {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}

.text-left {
  text-align: left;
}
