.emb-cont{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-areas: 'emb-top'
                         'emb-bottom';
    width:100%;
}

.emb-top{
    grid-area: emb-top;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
    grid-template-areas: 'embargo emb_fr_title emb_fr_field emb_fr_field c1r1 c2r1 cfr1'
                         'c1r2 c2r2 fechas_titles fechas_fields num_titles num_values cfr2'
                         'c1r3 c2r3 c3r3 c4r3 costa_total_titles costa_total_fields cfr3';
    width: 100%;
}                        

.embargo{
    grid-area: embargo;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: purple;
}


.emb_fr_title{
    grid-area: emb_fr_title;
    background-color: orange;
}

.emb_fr_field{
    grid-area: emb_fr_field;
    background-color: green;
}